.horizontal-container {
    display: flex;
    flex-direction: row;
}

.filter-container {
    padding-left: 2%;
    width: 15%;
    position: fixed;
    top: 80px;
    bottom: 10px;
    overflow: scroll;
}

@media (max-width: 768px) {
    .horizontal-container {
        flex-direction: column;
    }

    .filter-container {
        padding: 0.4%;
        min-width: 15%;
        position: fixed;
    }
}