.form_container {
  display: flex;
  min-width: 97.5%;
  flex-direction: column;
  color: black;
}

.input_field_label {
  letter-spacing: 1px;
  padding: 0.8rem 0;
  font-size: 1rem;
  outline: none;
}

.input_field {
  color: black;
  width: 100%;
}

.error_message {
  color: red;
  font-size: 0.9rem;
}

@media (max-width: 931px) {
  .form_container {
    min-width: 100%;
    margin-left: 0 !important;
  }

  .input_field_label {
    font-size: 10px !important;
  }
}
